<mat-card>
    <mat-card-header>
        <mat-card-title>Gestão Interna</mat-card-title>
        <mat-card-subtitle>Visualização de Despachanate</mat-card-subtitle>
    </mat-card-header>

    <br />

    <mat-card-content class="mat-elevation-z4">
        <mat-toolbar>
            <span>Despachante</span>
        </mat-toolbar>

        <div class="container">
            <div class="flex-container">
                <mat-list>
                    <mat-list-item>
                        <strong>Nome:</strong>
                        <span class="data">{{ advisor.name }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>Sobrenome:</strong>
                        <span class="data">{{ advisor.surname }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>E-mail:</strong>
                        <span class="data">{{ advisor.email }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>Nascimento:</strong>
                        <span class="data">{{ advisor.birthDate | formatDate }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>RG:</strong>
                        <span class="data">{{ advisor.RG | mask: MASKS.RG }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>CPF:</strong>
                        <span class="data">{{ advisor.CPF | mask: MASKS.CPF }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>Telefone Fixo:</strong>
                        <ng-container *ngIf="advisor.landline">
                            <span class="data">{{ advisor.landline | mask: MASKS.LANDLINE }}</span>
                        </ng-container>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>Telefone Móvel:</strong>
                        <span class="data">{{ advisor.cellPhone | mask: MASKS.CELL_PHONE }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>Profissão:</strong>
                        <span class="data">{{ advisor.profession }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>Criado em:</strong>
                        <span class="data">{{ advisor.createdAt | formatDateHour }}</span>
                    </mat-list-item>

                    <mat-list-item>
                        <strong>Atualizado em:</strong>
                        <span class="data">{{ advisor.updatedAt | formatDateHour }}</span>
                    </mat-list-item>
                </mat-list>

                <div
                    fxLayout.xs="column"
                    fxLayout="row"
                    fxLayoutAlign="end center">
                    <button
                        type="button"
                        mat-raised-button
                        routerLink="/content/advisors/list">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
