<ng-container *ngIf="show">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Gestores</mat-card-title>
            <mat-card-subtitle>Gestão Interna de Gestores</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="surname">
                    <mat-header-cell *matHeaderCellDef>Sobrenome</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.surname }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="CPF">
                    <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.CPF }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-card-content>
        <mat-paginator
                showFirstLastButtons
                [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
    </mat-card>
</ng-container>
