<mat-card>
    <mat-card-header>
        <mat-card-title>Gestão Interna</mat-card-title>
        <mat-card-subtitle>Edição de Despachante</mat-card-subtitle>
    </mat-card-header>

    <br />

    <mat-card-content class="mat-elevation-z4">
        <mat-toolbar>
            <span>Despachante</span>
        </mat-toolbar>

        <div class="container">
            <div class="flex-container">
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row"
                        fxLayoutGap.lg="20px"
                        fxLayoutGap.xl="20px"
                        formGroupName="advisor">
                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Nome</mat-label>
                                <input
                                    type="text"
                                    formControlName="name"
                                    matInput
                                    placeholder="Ex: joão"
                                    required />
                                <mat-error
                                    *ngIf="
                                        formGroup.get('advisor')?.get('name')?.touched &&
                                        formGroup.get('advisor')?.get('name')?.errors?.required">
                                    Campo obrigatório!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Sobrenome</mat-label>
                                <input
                                    type="text"
                                    formControlName="surname"
                                    matInput
                                    placeholder="Ex: almeida"
                                    required />
                                <mat-error
                                    *ngIf="
                                        formGroup.get('advisor')?.get('surname')?.touched &&
                                        formGroup.get('advisor')?.get('surname')?.errors?.required">
                                    Campo obrigatório!
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row"
                        fxLayoutGap.lg="20px"
                        fxLayoutGap.xl="20px"
                        formGroupName="advisor">
                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>E-mail</mat-label>
                                <input
                                    type="email"
                                    formControlName="email"
                                    matInput
                                    placeholder="Ex: joao@exemplo.com"
                                    required />
                                <mat-error
                                    *ngIf="
                                        formGroup.get('advisor')?.get('email')?.touched &&
                                        formGroup.get('advisor')?.get('email')?.errors?.required">
                                    Campo obrigatório!
                                </mat-error>
                                <mat-error
                                    *ngIf="
                                        formGroup.get('advisor')?.get('email')?.touched &&
                                        formGroup.get('advisor')?.get('email')?.errors?.email">
                                    E-mail inválido!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Nascimento</mat-label>
                                <input
                                    type="date"
                                    formControlName="birthDate"
                                    matInput
                                    required />
                                <mat-error
                                    *ngIf="
                                        formGroup.get('advisor')?.get('birthDate')?.touched &&
                                        formGroup.get('advisor')?.get('birthDate')?.errors?.required">
                                    Campo obrigatório!
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row"
                        fxLayoutGap.lg="20px"
                        fxLayoutGap.xl="20px"
                        formGroupName="advisor">
                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>RG</mat-label>
                                <input
                                    type="text"
                                    formControlName="RG"
                                    matInput
                                    placeholder="Ex: 78598578"
                                    required
                                    [mask]="MASKS.RG" />
                                <mat-error
                                    *ngIf="
                                        formGroup.get('advisor')?.get('RG')?.touched &&
                                        formGroup.get('advisor')?.get('RG')?.errors?.required">
                                    Campo obrigatório!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>CPF</mat-label>
                                <input
                                    type="text"
                                    formControlName="CPF"
                                    matInput
                                    placeholder="Ex: 091.261.244-78"
                                    required
                                    [mask]="MASKS.CPF" />
                                <mat-error
                                    *ngIf="
                                        formGroup.get('advisor')?.get('CPF')?.touched &&
                                        formGroup.get('advisor')?.get('CPF')?.errors?.required">
                                    Campo obrigatório!
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row"
                        fxLayoutGap.lg="20px"
                        fxLayoutGap.xl="20px"
                        formGroupName="advisor">
                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Telefone Fixo</mat-label>
                                <input
                                    type="tel"
                                    formControlName="landline"
                                    matInput
                                    placeholder="Ex: (31) 3322-5566"
                                    [mask]="MASKS.LANDLINE" />
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Telefone Móvel</mat-label>
                                <input
                                    type="tel"
                                    formControlName="cellPhone"
                                    matInput
                                    placeholder="Ex: (31) 9 8685-8899"
                                    required
                                    [mask]="MASKS.CELL_PHONE" />
                                <mat-error
                                    *ngIf="
                                        formGroup.get('advisor')?.get('cellPhone')?.touched &&
                                        formGroup.get('advisor')?.get('cellPhone')?.errors?.required">
                                    Campo obrigatório!
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row"
                        fxLayoutGap.lg="20px"
                        fxLayoutGap.xl="20px"
                        formGroupName="advisor">
                        <div fxFlex="100">
                            <mat-form-field>
                                <mat-label>Profissão</mat-label>
                                <input
                                    type="text"
                                    formControlName="profession"
                                    matInput
                                    placeholder="Ex: Despachante" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row"
                        fxLayoutGap.lg="20px"
                        fxLayoutGap.xl="20px"
                        formGroupName="address">
                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>CEP</mat-label>
                                <input
                                    type="text"
                                    formControlName="CEP"
                                    matInput
                                    placeholder="Ex: 31370-505"
                                    [mask]="MASKS.CEP"
                                    required
                                    (keyup)="search()" />
                                    <mat-error
                                        *ngIf="
                                            formGroup.get('address')?.get('CEP')?.touched &&
                                            formGroup.get('address')?.get('CEP')?.errors?.required">
                                        Campo obrigatório!
                                    </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Avenida/Rua</mat-label>
                                <input
                                    type="text"
                                    formControlName="street"
                                    matInput
                                    placeholder="Ex: Rua José Simplício Moreira"
                                    required />
                                    <mat-error
                                        *ngIf="
                                            formGroup.get('address')?.get('street')?.touched &&
                                            formGroup.get('address')?.get('street')?.errors?.required">
                                        Campo obrigatório!
                                    </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="column" fxLayout.lg="row" fxLayout.xl="row" formGroupName="address">
                        <div fxFlex="100">
                            <mat-form-field>
                                <mat-label>Complemento</mat-label>
                                <input
                                    type="text"
                                    formControlName="complement"
                                    matInput
                                    placeholder="Ex: Próximo ao Centro Esportivo" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row"
                        fxLayoutGap.lg="20px"
                        fxLayoutGap.xl="20px"
                        formGroupName="address">
                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Número</mat-label>
                                <input
                                    type="text"
                                    formControlName="number"
                                    matInput
                                    placeholder="Ex: 600"
                                    required />
                                    <mat-error
                                        *ngIf="
                                            formGroup.get('address')?.get('number')?.touched &&
                                            formGroup.get('address')?.get('number')?.errors?.required">
                                        Campo obrigatório!
                                    </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Bairro</mat-label>
                                <input
                                    type="text"
                                    formControlName="neighborhood"
                                    matInput
                                    placeholder="Ex: Trevo"
                                    required />
                                    <mat-error
                                        *ngIf="
                                            formGroup.get('address')?.get('neighborhood')?.touched &&
                                            formGroup.get('address')?.get('neighborhood')?.errors?.required">
                                        Campo obrigatório!
                                    </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row"
                        fxLayoutGap.lg="20px"
                        fxLayoutGap.xl="20px"
                        formGroupName="address">
                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Cidade</mat-label>
                                <input
                                    type="text"
                                    formControlName="city"
                                    matInput
                                    placeholder="Ex: Belo Horizonte"
                                    required />
                                    <mat-error
                                        *ngIf="
                                            formGroup.get('address')?.get('city')?.touched &&
                                            formGroup.get('address')?.get('city')?.errors?.required">
                                        Campo obrigatório!
                                    </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field>
                                <mat-label>Estado</mat-label>
                                <input
                                    type="text"
                                    formControlName="state"
                                    matInput
                                    placeholder="Ex: Minas Gerais"
                                    required />
                                    <mat-error
                                        *ngIf="
                                            formGroup.get('address')?.get('state')?.touched &&
                                            formGroup.get('address')?.get('state')?.errors?.required">
                                        Campo obrigatório!
                                    </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div
                        fxLayout.xs="column"
                        fxLayout="row"
                        fxLayoutGap="20px"
                        fxLayoutAlign="end center">
                        <div>
                            <button
                                type="button"
                                mat-raised-button
                                routerLink="/content/advisors/list">
                                Cancelar
                            </button>
                        </div>

                        <div>
                            <button
                                type="submit"
                                mat-raised-button
                                color="primary"
                                [disabled]="!formGroup.valid">
                                Salvar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>
