<header>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.md="true" fxHide.lg="true" fxHide.xl="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <span>
            <a>
                <img src="assets/img/logo.png" alt="Logo IMOB Web" width="100" height="100" />
            </a>
        </span>

        <span class="spacer"></span>

        <div fxShow="true" fxHide.xs="true" fxHide.sm="true">
            <a mat-button>
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </a>
            <a mat-button>
                <mat-icon>manage_search</mat-icon>
                Pesquisa de Imóveis
            </a>
            <a mat-button>
                <mat-icon>person_search</mat-icon>
                Pesquisa de Leads
            </a>
        </div>

        <mat-card class="card">
            <div class="header-image" mat-card-avatar></div>
        </mat-card>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span>Deslogar</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav
            color="primary"
            fxLayout="column"
            fxShow="true"
            fxHide.md="true"
            fxHide.lg="true"
            fxHide.xl="true"
            mode="over"
            opened="false"
            #sidenav>
            <div fxLayout="column" fxLayoutAlign="space-between start">
                <a mat-button>Dashboard</a>
                <a mat-button>Pesquisa de Imóveis</a>
                <a mat-button>Pesquisa de Leads</a>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</header>
