<header>
    <mat-toolbar color="primary">
        <span class="spacer"></span>
        
        <div fxShow="true" fxHide.xs="true" fxHide.sm="true">
            <a mat-button routerLink="/content/dashboard">
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </a>
            <a mat-button [routerLink]="pathPropertiesForSale" target="_blank">
                <mat-icon>apartment</mat-icon>
                Imóveis à Venda
            </a>
        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <span>Deslogar</span>
            </button>
        </mat-menu>

        <div fxShow="true" fxHide.md="true" fxHide.lg="true" fxHide.xl="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container fxLayout="row" fxLayoutAlign="end center">
        <mat-sidenav
            color="primary"
            fxLayout="row"
            fxShow="true"
            fxHide.md="true"
            fxHide.lg="true"
            fxHide.xl="true"
            mode="over"
            opened="false"
            #sidenav>
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <a mat-button>Dashboard</a>
                <a mat-button>Pesquisa de Imóveis</a>
                <a mat-button>Pesquisa de Leads</a>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</header>
