<mat-card>
    <mat-card-header>
        <mat-card-title>Dashboard</mat-card-title>
        <mat-card-subtitle>Informações baseadas no mês</mat-card-subtitle>
    </mat-card-header>

    <br>

    <ng-container *ngIf="isManager">
        <mat-card-content class="mat-elevation-z4">
            <mat-toolbar>
                <span>Negócios</span>
            </mat-toolbar>
    
            <div class="container">
                <div class="flex-container">
                    <form [formGroup]="formGroupBusiness">
                        <div
                            fxLayout="column"
                            fxLayout.lg="row"
                            fxLayout.xl="row">
                            <div fxFlex="20">
                                <div class="margin-top border-right">
                                    <h2>Prospecção</h2>
                                    <p>
                                        <span>
                                            R$ {{ commissionReceivableByProspecting | mask: 'separator.2':'.' }} 
                                        </span>
                                    </p>
                                    <p>
                                        <ng-container *ngIf="amountBusiness">
                                            <span>
                                                {{ amountBusiness.totalAmountProspecting }} - Negócios
                                            </span>
                                        </ng-container>
                                    </p>
                                </div>
                            </div>
    
                            <div fxFlex="20">
                                <div class="margin-top border-right">
                                    <h2>Visita</h2>
                                    <p>
                                        <span>
                                            R$ {{ commissionReceivableByVisit | mask: 'separator.2':'.' }}
                                        </span>
                                    </p>
                                    <p>
                                        <ng-container *ngIf="amountBusiness">
                                            <span>
                                                {{ amountBusiness.totalAmountVisit }} - Negócios
                                            </span>
                                        </ng-container>
                                    </p>
                                </div>
                            </div>
    
                            <div fxFlex="20">
                                <div class="margin-top border-right">
                                    <h2>Proposta</h2>
                                    <p>
                                        <span>
                                            R$ {{ commissionReceivableByProposal | mask: 'separator.2':'.' }}
                                        </span>
                                    </p>
                                    <p>
                                        <ng-container *ngIf="amountBusiness">
                                            <span>
                                                {{ amountBusiness.totalAmountProposal }} - Negócios
                                            </span>
                                        </ng-container>
                                    </p>
                                </div>
                            </div>
    
                            <div fxFlex="20">
                                <div class="margin-top border-right">
                                    <h2>Rejeitados</h2>
                                    <p>
                                        <span>
                                            R$ {{ commissionReceivableByRejected | mask: 'separator.2':'.' }}
                                        </span>
                                    </p>
                                    <p>
                                        <ng-container *ngIf="amountBusiness">
                                            <span>
                                                {{ amountBusiness.totalAmountRejected }} - Negócios
                                            </span>
                                        </ng-container>
                                    </p>
                                </div>
                            </div>
    
                            <div fxFlex="20">
                                <div class="margin-top">
                                    <h2>Fechados</h2>
                                    <p>
                                        <span>
                                            R$ {{ commissionReceivableByClosed | mask: 'separator.2':'.' }}
                                        </span>
                                    </p>
                                    <p>
                                        <ng-container *ngIf="amountBusiness">
                                            <span>
                                                {{ amountBusiness.totalAmountClosed }} - Negócios
                                            </span>
                                        </ng-container>
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div
                            fxLayout="column"
                            fxLayout.lg="row"
                            fxLayout.xl="row">
                            <div fxFlex="100" fxLayoutAlign="center center">
                                <ng-container *ngIf="showBusinessGraphic">
                                    <ngx-charts-advanced-pie-chart
                                        [view]="[900, 300]"
                                        [scheme]="colorScheme"
                                        [results]="businessesData"
                                        [gradient]="true">
                                    </ngx-charts-advanced-pie-chart>
                                </ng-container>
                            </div>
                        </div>
    
                        <div
                            fxLayout="column"
                            fxLayout.lg="row"
                            fxLayout.xl="row">
                            <div fxFlex="100" fxLayoutAlign="center center">
                                <mat-form-field>
                                    <mat-label>Mês</mat-label>
                                    <input
                                        type="month"
                                        formControlName="month"
                                        matInput
                                        required
                                        (change)="onChangeMonthBusiness()" />
                                    <mat-error
                                        *ngIf="
                                            formGroupBusiness.get('month')?.touched &&
                                            formGroupBusiness.get('month')?.errors?.required">
                                        Campo obrigatório!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card-content>
    
        <br>
    </ng-container>

    <mat-card-content class="mat-elevation-z4">
        <mat-toolbar>
            <span>Leads</span>
        </mat-toolbar>

        <div class="container">
            <div class="flex-container">
                <form [formGroup]="formGroupLead">
                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row">
                        <div fxFlex="50" fxLayoutAlign="center center">
                            <div class="margin-top">
                                <h2>
                                    <ng-container *ngIf="amountLead">
                                        <span class="result">
                                            {{ amountLead.totalLeads }}
                                        </span>
                                    </ng-container>
                                    Total
                                </h2>
                            </div>
                        </div>

                        <div fxFlex="50" fxLayoutAlign="center center">
                            <div class="margin-top">
                                <h2>
                                    <span class="result">
                                        {{ amontLeadsRegistered }}
                                    </span>
                                    Cadastradas
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row">
                        <div fxFlex="20">
                            <div class="margin-top border-right">
                                <h2>Origem - Imobiliária</h2>
                                <p>
                                    <span>
                                        {{ amountLeadsByCompany }} - Leads
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div fxFlex="20">
                            <div class="margin-top border-right">
                                <h2>Origem - Telefone</h2>
                                <p>
                                    <span>
                                        {{ amountLeadsByPhone }} - Leads
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div fxFlex="20">
                            <div class="margin-top border-right">
                                <h2>Origem - Anúncio</h2>
                                <p>
                                    <span>
                                        {{ amountLeadsByAnnouncement }} - Leads
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div fxFlex="20">
                            <div class="margin-top border-right">
                                <h2>Origiem - Web</h2>
                                <p>
                                    <span>
                                        {{ amountLeadsByWeb }} - Leads
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div fxFlex="20">
                            <div class="margin-top">
                                <h2>Origiem - Whatsapp</h2>
                                <p>
                                    <span>
                                        {{ amountLeadsByWhatsapp }} - Leads
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row">
                        <div fxFlex="100" fxLayoutAlign="center center">
                            <ng-container *ngIf="showLeadGraphic">
                                <ngx-charts-advanced-pie-chart
                                    [view]="[900, 300]"
                                    [scheme]="colorScheme"
                                    [results]="leadsData"
                                    [gradient]="true">
                                </ngx-charts-advanced-pie-chart>
                            </ng-container>
                        </div>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayout.lg="row"
                        fxLayout.xl="row">
                        <div fxFlex="100" fxLayoutAlign="center center">
                            <mat-form-field>
                                <mat-label>Mês</mat-label>
                                <input
                                    type="month"
                                    formControlName="month"
                                    matInput
                                    required
                                    (change)="onChangeMonthLead()" />
                                <mat-error
                                    *ngIf="
                                        formGroupLead.get('month')?.touched &&
                                        formGroupLead.get('month')?.errors?.required">
                                    Campo obrigatório!
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>
