/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.align-left {
    display: flex;
    justify-content: flex-start;
}

.align-center {
    display: flex;
    justify-content: center;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.total-label {
    margin-top: 7.92% !important;
}

.legend-item {
    margin-right: 30% !important;
}

.item-label {
    margin: 5% 0% !important;
}

.advanced-pie-legend .legend-items-container .legend-items {
    overflow: initial !important;
}

.advanced-pie-legend {
    width: 15rem !important;
}