aside h2 {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

.sidenav {
    background-color: #e0e0e0;
    border-right-color: rgba(0, 0, 0, 0.12);
    border-right-width: 1px;
    border-right-style: solid;
    border-radius: 4px;
    margin-left: 15px;
    width: 300px;
}

.sidenav a {
    font-size: 0.85rem;
    padding-left: 10px;
}

.sidenav a span {
    padding-left: 5px;
}

.content {
    background-color: #e8eaf6;
    padding: 15px 15px 16px 30px;
}

.mat-icon {
    vertical-align: middle;
}

.nav-list {
    padding-left: 20px;
}

.nav-list h4 {
    margin: 0px;
    font-weight: 400;
}

.mat-list a {
    font-weight: 300;
}