.mat-sidenav-container {
    min-height: 75vh !important;
    background-color: #fff;
}

.sidenav {
    background-color: rgb(63, 81, 181);
    border-right-color: rgba(0, 0, 0, 0.12);
    border-right-width: 1px;
    border-right-style: solid;
    border-radius: 4px;
    margin-left: 15px;
    width: 300px;
}

.sidenav a {
    color: #fff;
    font-size: 0.85rem;
    padding-left: 10px;
}

.sidenav a span {
    color: #fff;
    padding-left: 5px;
}

.content {
    background-color: #fff;
    padding: 15px 15px 16px 30px;
}

.mat-icon {
    vertical-align: text-bottom;
}

.nav-list {
    padding: 30px 0px 0px 20px;
}

.nav-list h4 {
    color: #fff;
    margin: 0px;
    font-weight: 400;
}

.mat-list a {
    font-weight: 300;
}

button {
    margin-right: 15px;
}

mat-sidenav-container {
    height: calc(5vh - 65px);
}