<div class="container">
    <div class="flex-container">
        <h1 mat-dialog-title>Dados da Imobiliária</h1>

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <mat-dialog-content>
                <div fxLayout="row">
                    <div fxFlex="100">
                        <mat-form-field>
                            <mat-label>Razão Social</mat-label>
                            <input
                                type="text"
                                formControlName="corporateName"
                                matInput
                                placeholder="Ex: Alessandra e Luiz Esportes Ltda"
                                required />
                            <mat-error
                                *ngIf="
                                    formGroup.get('corporateName')?.touched &&
                                    formGroup.get('corporateName')?.errors?.required">
                                Campo obrigatório!
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    formGroup.get('corporateName')?.touched &&
                                    formGroup.get('corporateName')?.errors?.minlength">
                                A Razão Social deve conter no mínimo 10 caracteres!
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    formGroup.get('corporateName')?.touched &&
                                    formGroup.get('corporateName')?.errors?.maxlength">
                                A Razão Social deve conter no máximo 256 caracteres!
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div
                    fxLayout.lg="row"
                    fxLayout.xl="row"
                    fxLayoutGap.lg="20px"
                    fxLayoutGap.xl="20px"
                    fxLayout.xs="column"
                    fxLayout.sm="column"
                    fxLayout.md="column">
                    <div
                        fxFlex.lg="50"
                        fxFlex.xl="50"
                        fxFlex.xs="100"
                        fxFlex.sm="100"
                        fxFlex.md="100">
                        <mat-form-field>
                            <mat-label>CNPJ</mat-label>
                            <input
                                type="text"
                                formControlName="CNPJ"
                                matInput
                                placeholder="Ex: 81.976.180/0001-43"
                                [mask]="MASKS.CNPJ"
                                required />
                            <mat-error
                                *ngIf="
                                    formGroup.get('CNPJ')?.touched &&
                                    formGroup.get('CNPJ')?.errors?.required">
                                Campo obrigatório!
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    formGroup.get('CNPJ')?.touched &&
                                    formGroup.get('CNPJ')?.errors?.mask">
                                Campo inválido!
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div
                        fxFlex.lg="50"
                        fxFlex.xl="50"
                        fxFlex.xs="100"
                        fxFlex.sm="100"
                        fxFlex.md="100">
                        <mat-form-field>
                            <mat-label>Inscrição Estadual</mat-label>
                            <input
                                type="text"
                                formControlName="stateRegistration"
                                matInput
                                placeholder="Ex: 324.045.784/8152"
                                [mask]="MASKS.STATE_REGISTRATION"
                                required />
                            <mat-error
                                *ngIf="
                                    formGroup.get('stateRegistration')?.touched &&
                                    formGroup.get('stateRegistration')?.errors?.required">
                                Campo obrigatório!
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    formGroup.get('stateRegistration')?.touched &&
                                    formGroup.get('stateRegistration')?.errors?.mask">
                                Campo inválido!
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="100">
                        <mat-form-field>
                            <mat-label>Percentual de Comissão a Receber</mat-label>
                            <input
                                type="text"
                                formControlName="percentageCommissionReceivable"
                                matInput
                                placeholder="Ex: 5.75%"
                                maxlength="6"
                                mask="percent"
                                suffix="%"
                                [dropSpecialCharacters]="false" />
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="100">
                        <mat-form-field>
                            <mat-label>Percentual de Comissão a Pagar por Negócios Fechados</mat-label>
                            <input
                                type="text"
                                formControlName="percentageCommissionPayableForClosedDeals"
                                matInput
                                placeholder="Ex: 2.5%"
                                maxlength="6"
                                mask="percent"
                                suffix="%"
                                [dropSpecialCharacters]="false" />
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row">
                    <div fxFlex="100">
                        <mat-form-field>
                            <mat-label>Percentual de Comissão a Pagar por Imóveis Captados</mat-label>
                            <input
                                type="text"
                                formControlName="percentageCommissionPayableForPropertyCaptured"
                                matInput
                                placeholder="Ex: 2.5%"
                                maxlength="6"
                                mask="percent"
                                suffix="%"
                                [dropSpecialCharacters]="false" />
                        </mat-form-field>
                    </div>
                </div>
            </mat-dialog-content>

            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>
                    Cancelar
                </button>

                <button mat-button cdkFocusInitial [disabled]="!formGroup.valid">
                    Salvar
                </button>
            </mat-dialog-actions>
        </form>
    </div>
</div>
