<mat-card>
    <mat-card-header>
        <mat-card-title>Gestão Interna</mat-card-title>
        <mat-card-subtitle>Gerencimento de Corretores</mat-card-subtitle>
    </mat-card-header>

    <br>

    <mat-card-content class="mat-elevation-z4">
        <mat-toolbar>
            <span>Corretores</span>
        </mat-toolbar>

        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <mat-header-cell class="align-left" *matHeaderCellDef>Nome</mat-header-cell>
                <mat-cell class="align-left" *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="surname">
                <mat-header-cell class="align-left" *matHeaderCellDef>Sobrenome</mat-header-cell>
                <mat-cell class="align-left" *matCellDef="let element">{{ element.surname }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="CPF">
                <mat-header-cell class="align-left" *matHeaderCellDef>CPF</mat-header-cell>
                <mat-cell class="align-left" *matCellDef="let element">{{ element.CPF | mask: MASKS.CPF }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="email">
                <mat-header-cell class="align-left" *matHeaderCellDef>E-mail</mat-header-cell>
                <mat-cell class="align-left" *matCellDef="let element">{{ element.email }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cellPhone">
                <mat-header-cell class="align-left" *matHeaderCellDef>Celular</mat-header-cell>
                <mat-cell class="align-left" *matCellDef="let element">{{ element.cellPhone | mask: MASKS.CELL_PHONE }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell class="align-center" *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>visibility</mat-icon>
                            <span>Visualizar</span>
                        </button>

                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator
            showFirstLastButtons
            [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
    </mat-card-content>
</mat-card>