<div class="container">
    <div class="flex-container">
        <h2 mat-dialog-title>Exclusão de Cliente</h2>

        <mat-dialog-content>
            <p>
                Confirma a exclusão do cliente <strong>{{ customer.name }} {{ customer.surname }}</strong>?
            </p>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <div>
                <button
                    type="button"
                    mat-raised-button
                    mat-dialog-close>
                    Cancelar
                </button>

                <button
                    type="button"
                    color="warn"
                    mat-raised-button
                    (click)="deleteCustomer()">
                    Confirmar
                </button>
            </div>
        </mat-dialog-actions>
    </div>
</div>